@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap');

.App {
  min-height: 100vh;
  display: flex;
  background: linear-gradient(
    90deg,
    rgba(38, 30, 172, 1) 0%,
    rgba(83, 83, 218, 1) 35%,
    rgba(42, 146, 167, 1) 100%
  );
}
